{
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "endOfLine": "auto",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["^node:", "^react", "^next", "^@tanstack", "^@/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderGroupNamespaceSpecifiers": true,
    "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
    "importOrderCaseInsensitive": true
}