@use 'styles/variables';

.loader {
    display: inline-block;
  }
  
  .sizeS {
    width: 24px;
    height: 24px;
  }
  
  .sizeM {
    width: 48px;
    height: 48px;
  }
  
  .sizeL {
    width: 60px;
    height: 60px;
  }
  
  .defaultColor .path {
    fill: variables.$color-brand;
  }
  
  .changeColor {
    color: currentColor;
  }
  
  .changeColor .path {
    fill: currentColor;
  }