@use 'styles/mixins';
@use 'styles/variables';

.root {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: variables.$space-m;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: variables.$space-m;
}
