//variables.scss
$breakpoints: (
    xs: 375px,
    md: 768px,
    lg: 1024px,
    xl: 1440px
);

$border-radius: 0px;
$color-brand: #518581;
$color-brand-hover: #518581;
$color-brand-active: #487773;
$color-text-primary: #000000;


$space-xl: 48px;
$space-l: 32px;
$space-m: 24px;
$space-s: 16px;
$space-xs: 12px;
$space-xxs: 8px;